{
  "mcpServers": {
    "Figma": {
      "url": "http://127.0.0.1:3845/sse"
{{- if eq .chezmoi.username "h3y6e" }}
    },
    "Linear": {
      "url": "https://mcp.linear.app/sse"
{{- end }}
    }
  }
}
