{
  "$schema": "https://opencode.ai/config.json",
  "share": "disabled",
  "autoupdate": false,
  "lsp": true,
  "permission": {
    "bash": {
      "*": "allow",
      "git add .": "deny",
      "git add -A": "deny",
      "git add -A *": "deny",
      "git add --all": "deny",
      "git add --all *": "deny",
      "git stash clear*": "deny",
      "gh api * -X POST*": "deny",
      "gh api * -X PUT*": "deny",
      "gh api * -X DELETE*": "deny",
      "gh api * -X PATCH*": "deny",
      "gh api * --method POST*": "deny",
      "gh api * --method PUT*": "deny",
      "gh api * --method DELETE*": "deny",
      "gh api * --method PATCH*": "deny",
      "chmod 777 *": "deny",
      "chmod -R 777 *": "deny",
      "mkfs*": "deny",
      "* > /dev/sd*": "deny",
      "rm *": "deny",
      "dd *": "deny",
      "su *": "deny",
      "sudo *": "deny",
      "shutdown*": "deny",
      "reboot*": "deny",
      "npx *": "deny",
      "npx -y modern-web-guidance@latest *": "allow",
    },
    "read": {
      "*": "allow",
      "*.env": "deny",
    },
    "external_directory": {
      "~/.local/share/chezmoi/**": "allow",
      "~/ghq/**": "allow",
    },
  },
  "mcp": {
    "figma": {
      "type": "remote",
      "url": "http://127.0.0.1:3845/mcp",
      "enabled": false,
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      {{- if not .ephemeral }}
      "headers": {
        "CONTEXT7_API_KEY": "{{ onepasswordRead "op://env/context7/api-key" }}",
      },
      {{- end }}
    },
    "gh_grep": {
      "type": "remote",
      "url": "https://mcp.grep.app",
    },
  },
}
