{
  "$schema": "https://opencode.ai/config.json",
  "share": "disabled",
  "autoupdate": false,
  "lsp": true,
  "permission": {
    "bash": {
      "*": "allow",
      "git stash clear*": "deny",
      "gh pr ready*": "deny",
      "chmod 777 *": "deny",
      "chmod -R 777 *": "deny",
      "mkfs*": "deny",
      "* > /dev/sd*": "deny",
      "rm *": "deny",
      "dd *": "deny",
      "su *": "deny",
      "sudo *": "deny",
      "shutdown*": "deny",
      "reboot*": "deny",
    },
    "read": {
      "*": "allow",
    },
    "external_directory": {
      "{{ .chezmoi.workingTree }}/**": "allow",
      "~/ghq/**": "allow",
      "/tmp/**": "allow",
    },
  },
  "mcp": {
    "figma": {
      "type": "remote",
      "url": "http://127.0.0.1:3845/mcp",
      "enabled": true,
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      {{- if not .ephemeral }}
      "headers": {
        "CONTEXT7_API_KEY": "{{ onepasswordRead "op://env/context7/api-key" }}",
      },
      {{- end }}
    },
    "gh_grep": {
      "type": "remote",
      "url": "https://mcp.grep.app",
    },
  },
}
