.vscode/
.github/
Casks/
.editorconfig
.gitignore
LICENSE
install.sh

{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/karabiner/
.config/raycast-script/
.config/ghostty/
.cursor/
.rye/
Library/
com.googlecode.iterm2.plist
.finicky.ts
.zprofile
.zshrc
.zshenv
{{- end }}

{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.bashrc
{{- end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/
Documents/
{{ else }}
.config/bat/
.ssh/
.vimrc
{{ end }}

{{- if .ephemeral }}
.config/sheldon/
.config/silicon/
.config/wezterm/
.config/zed/
{{- end }}
