.vscode/
.github/
.editorconfig
.gitignore
.winget.json
LICENSE
install.sh
README.md

{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
Casks/
.config/karabiner/
.gnupg/
Library/
com.googlecode.iterm2.plist
.finicky.js
.zprofile
.zshrc
{{- end }}

{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.bashrc
{{- end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/
{{ else }}
.config/bat/
.ssh/
.asdfrc
.ideavimrc
.vimrc
{{ end }}

{{- if .ephemeral }}
.config/wezterm/
.ideavimrc
{{- end }}
