root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[dot_config/git/config.tmpl]
indent_style = tab

[*.plist*]
indent_style = tab

[*.ps1*]
end_of_line = crlf
