export DO_NOT_TRACK=1

# editors
export EDITOR='vim'
export VISUAL='vim'
export PAGER='less'

# language
export LANG='en_US.UTF-8'

# paths
typeset -gU cdpath fpath mailpath path
path=(
  /usr/local/{bin,sbin}
  $path
)

# less
export LESS='-F -g -i -M -R -S -w -X -z-4'
# shellcheck disable=SC1009,SC1072,SC1073
if (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi

{{ if eq .chezmoi.os "darwin" -}}
# browser
export BROWSER='open'

# orbstack
[[ -d "$HOME/.orbstack" ]] && source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{- end }}

# bun
[[ -d "$HOME/.bun" ]] && export PATH="$HOME/.bun/bin:$PATH"

# android
[[ -d "$HOME/Library/Android/sdk" ]] && export PATH="$PATH:$HOME/Library/Android/sdk/platform-tools"

# pub
[[ -d "$HOME/.pub-cache" ]] && export PATH="$HOME/.pub-cache/bin:$PATH"

# maestro
[[ -d "$HOME/.maestro" ]] && export PATH="$PATH:$HOME/.maestro/bin"
