# vim: set ft=zsh:

typeset -gU cdpath fpath mailpath path

#==============================================================================
# XDG Base Directory
#==============================================================================
[[ -z "$XDG_CONFIG_HOME" ]] && export XDG_CONFIG_HOME="{{ .xdg.config }}"
[[ -z "$XDG_CACHE_HOME" ]] && export XDG_CACHE_HOME="{{ .xdg.cache }}"
[[ -z "$XDG_DATA_HOME" ]] && export XDG_DATA_HOME="{{ .xdg.data }}"
[[ -z "$XDG_STATE_HOME" ]] && export XDG_STATE_HOME="{{ .xdg.state }}"

#==============================================================================
# Environment Variables
#==============================================================================
# editors
export EDITOR='vim'
export VISUAL='vim'
export PAGER='less'

# language
export LANG='en_US.UTF-8'

# telemetry
export DO_NOT_TRACK=1
export DISABLE_TELEMETRY=1
export NEXT_TELEMETRY_DISABLED=1
export STORYBOOK_DISABLE_TELEMETRY=1
export TRIVY_DISABLE_TELEMETRY=1
export EXPO_NO_TELEMETRY=1
export RTK_TELEMETRY_DISABLED=1
