#==============================================================================
# Environment Variables
#==============================================================================
# editors
export EDITOR='vim'
export VISUAL='vim'
export PAGER='less'

# language
export LANG='en_US.UTF-8'

{{ if eq .chezmoi.os "darwin" -}}
# browser
export BROWSER='open'
{{- end }}

#==============================================================================
# Path Settings
#==============================================================================
# base paths
typeset -gU cdpath fpath mailpath path
path=(
  /usr/local/{bin,sbin}
  $path
)

#==============================================================================
# XDG Base Directory
#==============================================================================
[[ -z "$XDG_CONFIG_HOME" ]] && export XDG_CONFIG_HOME="$HOME/.config"
[[ -z "$XDG_CACHE_HOME" ]] && export XDG_CACHE_HOME="$HOME/.cache"
[[ -z "$XDG_DATA_HOME" ]] && export XDG_DATA_HOME="$HOME/.local/share"
[[ -z "$XDG_STATE_HOME" ]] && export XDG_STATE_HOME="$HOME/.local/state"

#==============================================================================
# Development Tools
#==============================================================================
# less
export LESS='-F -g -i -M -R -S -w -X -z-4'

# homebrew
if [[ $(arch) == "i386" ]]; then
  # x86_64
  [ -s "/usr/local/bin/brew" ] && eval "$(/usr/local/bin/brew shellenv)"
else
  # arm64
  [ -s "/opt/homebrew/bin/brew" ] && eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# mise
type mise &>/dev/null && eval "$(mise activate zsh)"

# android
[[ -d "$HOME/Library/Android/sdk" ]] && export PATH="$PATH:$HOME/Library/Android/sdk/platform-tools"

# pub
[[ -d "$HOME/.pub-cache" ]] && export PATH="$HOME/.pub-cache/bin:$PATH"

# maestro
[[ -d "$HOME/.maestro" ]] && export PATH="$PATH:$HOME/.maestro/bin"

# windsurf
[[ -d "$HOME/.codeium/windsurf" ]] && export PATH="$HOME/.codeium/windsurf/bin:$PATH"
