module.exports = {
  defaultBrowser: "Firefox Developer Edition",
  options: {
    hideIcon: true,
  },
  handlers: [
    {
      match: ({ url }) =>
        [
          "google.com",
          "figma.com",
          "linear.app",
          "inspect.isar.dev",
          "inspect.isar-community.dev",
        ].some(
          (host) => url.host.endsWith(host)
        ),
      browser: "Arc",
    },
  ],
};
