# vim: set ft=toml:
#:schema https://developers.openai.com/codex/config-schema.json

model = "gpt-5.4"
model_provider = "openai"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"
model_verbosity = "high"
model_supports_reasoning_summaries = true
approval_policy = "never"
sandbox_mode = "danger-full-access"
hide_agent_reasoning = false
file_opener = "none"
web_search = "live"
suppress_unstable_features_warning = true
personality = "pragmatic"
service_tier = "fast"
plan_mode_reasoning_effort = "xhigh"
approvals_reviewer = "guardian_subagent"

[features]
apply_patch_freeform = true
child_agents_md = true
unified_exec = true
shell_snapshot = true
apps = true
personality = true
undo = true
codex_git_commit = true
memories = true
multi_agent = true
prevent_idle_sleep = true
js_repl = true
voice_transcription = true
guardian_approval = true

[shell_environment_policy]
inherit = "all"
ignore_default_excludes = true

[agents]
max_threads = 6
max_depth = 1

[mcp_servers.figma]
url = "http://127.0.0.1:3845/mcp"

[mcp_servers.context7]
url = "https://mcp.context7.com/mcp"

[mcp_servers.gh_grep]
url = "https://mcp.grep.app"

{{ if .work -}}
[otel]
environment = "prod"

[otel.metrics_exporter.otlp-http]
endpoint = "{{ onepasswordRead "op://env/ai-agent-stats/endpoint" }}/v1/metrics"
protocol = "binary"

[otel.metrics_exporter.otlp-http.headers]
Authorization = "Bearer {{ onepasswordRead "op://env/ai-agent-stats/token" }}"
{{- end }}

{{- if lookPath "ghq" }}
{{- range (output "ghq" "list" "-p" | splitList "\n") }}
{{- if ne . "" }}

[projects."{{ . }}"]
trust_level = "trusted"
{{- end }}
{{- end }}
{{- end }}
