Include ~/.ssh/conf.d/*

{{ if eq .chezmoi.os "darwin" -}}
Include ~/.colima/ssh_config

Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

Host 202.182.99.204
	HostName 202.182.99.204
	User root
	ForwardAgent yes
