#!/usr/bin/env bash

set -Eeufo pipefail

# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title Mask paths
# @raycast.mode compact

# Optional parameters:
# @raycast.icon 🙈
# @raycast.argument1 { "type": "text", "placeholder": "log" }

# Documentation:
# @raycast.author {{ .handle }}
# @raycast.authorURL https://raycast.com/{{ .handle }}

echo "$1" | sed -E 's#(/Users)/[^/]+#\1/<user>#g' | sed -E 's#(/ghq/github\.com)/[^/]+/[^/]+#\1/<org>/<repo>#g' | pbcopy
