#!/bin/bash

set -Eeufo pipefail

{{ $brews := list
  "asdf"
  "bat"
  "direnv"
  "gh"
  "ghq"
  "git"
  "helm"
  "jq"
  "peco"
  "pinentry-mac"
  "poetry"
  "swiftlint" -}}

{{ $casks := list
  "1password"
  "1password-cli"
  "android-studio"
  "cron"
  "deepl"
  "docker"
  "dropbox"
  "firefox-developer-edition"
  "iterm2"
  "karabiner-elements"
  "mos"
  "notion"
  "raycast"
  "visual-studio-code"
  "wezterm" -}}

{{ $casks = concat $casks (list
  "font-fira-code"
  "font-sauce-code-pro-nerd-font"
  "font-udev-gothic-nf") -}}

{{ if eq .chezmoi.username "h3y6e" -}}
# personal
{{ $casks = concat $casks (list
  "affinity-designer"
  "affinity-photo"
  "affinity-publisher"
  "amazon-photos"
  "discord"
  "google-chrome"
  "qmk-toolbox"
  "readdle-spark"
  "slack"
  "spotify") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
