#!/bin/bash
# vim: set ft=bash:

set -Eeufo pipefail

printf "\033[3;35m%s\033[m\n" "brew installing..."

# shared
{{ $brews := list
  "neovim"
  "sheldon"
  "mise"
  "cargo-binstall"
  "gnupg"
  "cosign"
  "slsa-verifier"
  "libyaml"
  "git"
  "pinentry-mac"
  "ffmpeg"
  "imagemagick"
  "aria2"
  "watchman"
  "mas"
  "colima"
  "docker"
  "docker-compose"
  "docker-buildx"
-}}

{{ $casks := list
  "gcloud-cli"
  "1password"
  "1password-cli"
  "raycast"
  "wezterm@nightly"
  "android-studio"
  "zed"
  "finicky"
  "arc"
  "firefox@developer-edition"
  "scroll-reverser"
  "karabiner-elements"
  "notion"
  "notion-calendar"
  "obsidian"
  "figma"
  "font-udev-gothic-nf"
  "font-fira-code"
  "font-explex"
  "font-explex-nf"
  "font-juisee"
-}}

{{ $masApps := dict
  "GarageBand" 682658836
  "RunCat" 1429033973
}}

{{ if .personal -}}
# personal
{{ $casks = concat $casks (list
  "appcleaner"
  "affinity-designer"
  "affinity-photo"
  "affinity-publisher"
  "amazon-photos"
  "dropbox"
  "readdle-spark"
  "slack"
  "discord"
  "spotify"
  "tailscale-app"
) -}}
{{ else -}}
{{ end -}}

brew bundle --file=-<<EOF
tap "h3y6e/dotfiles"
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range $name, $id := $masApps -}}
mas "{{ $name }}", id: {{ $id }}
{{ end -}}
EOF
