#!/bin/bash

set -Eeufo pipefail

printf "\033[3;35m%s\033[m\n" "brew installing..."

{{ $brews := list
  "bat"
  "colima"
  "docker"
  "docker-compose"
  "docker-buildx"
  "ffmpeg"
  "gh"
  "ghq"
  "git"
  "gnupg"
  "jq"
  "lazygit"
  "mise"
  "peco"
  "pinentry-mac"
  "tre-command"
-}}

{{ $casks := list
  "1password"
  "1password-cli"
  "android-studio"
  "craft"
  "finicky"
  "firefox@developer-edition"
  "google-cloud-sdk"
  "karabiner-elements"
  "mos"
  "notion"
  "notion-calendar"
  "raycast"
  "visual-studio-code"
  "wezterm"
-}}

{{ $casks = concat $casks (list
  "font-explex"
  "font-explex-nf"
  "font-fira-code"
  "font-juisee"
  "font-udev-gothic-nf"
) -}}

{{ if eq .chezmoi.username "h3y6e" -}}
# personal
{{ $casks = concat $casks (list
  "affinity-designer"
  "affinity-photo"
  "affinity-publisher"
  "amazon-photos"
  "discord"
  "dropbox"
  "google-chrome"
  "qmk-toolbox"
  "readdle-spark"
  "slack"
  "spotify"
) -}}
{{ end -}}

brew bundle --no-lock --file=-<<EOF
tap "h3y6e/dotfiles", "https://github.com/h3y6e/dotfiles"
tap "homebrew/cask-versions"
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
