#!/bin/bash

set -Eeufo pipefail

printf "\033[3;35m%s\033[m\n" "brew installing..."

# shared
{{ $brews := list
  "sheldon"
  "mise"
  "cargo-binstall"
  "gnupg"
  "cosign"
  "slsa-verifier"
  "libyaml"
  "git"
  "pinentry-mac"
  "ffmpeg"
  "imagemagick"
  "aria2"
  "watchman"
-}}

{{ $casks := list
  "gcloud-cli"
  "claude-code"
  "1password"
  "raycast"
  "wezterm"
  "android-studio"
  "zed"
  "visual-studio-code"
  "finicky"
  "arc"
  "firefox@developer-edition"
  "scroll-reverser"
  "karabiner-elements"
  "notion"
  "notion-calendar"
  "figma"
-}}

{{ $casks = concat $casks (list
  "font-udev-gothic-nf"
  "font-fira-code"
  "font-explex"
  "font-explex-nf"
  "font-juisee"
) -}}

{{ if eq .chezmoi.username "h3y6e" -}}
# personal
{{ $brews = concat $brews (list
  "colima"
  "docker"
  "docker-compose"
  "docker-buildx"
) -}}

{{ $casks = concat $casks (list
  "appcleaner"
  "affinity-designer"
  "affinity-photo"
  "affinity-publisher"
  "amazon-photos"
  "dropbox"
  "qmk-toolbox"
  "readdle-spark"
  "slack"
  "discord"
  "spotify"
) -}}
{{ else -}}
# work
{{ $casks = concat $casks (list
  "docker-desktop"
) -}}
{{ end -}}

brew bundle --file=-<<EOF
tap "h3y6e/dotfiles", "https://github.com/h3y6e/dotfiles"
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
