#!/bin/bash
# vim: set ft=bash:
# bootstrap hash: {{ includeTemplate "dot_config/mise/exact_conf.d/bootstrap.macos.toml.tmpl" . | sha256sum }}

set -Eeufo pipefail

export PATH="${HOME}/.local/bin:${PATH}"

printf "\033[3;35m%s\033[m\n" "mise bootstrapping..."
mise bootstrap --yes
