#!/bin/bash

set -Eeufo pipefail

printf "\033[3;35m%s\033[m\n" "brew installing..."

{{ $brews := list
  "bat"
  "bun"
  "direnv"
  "ffmpeg"
  "gh"
  "ghq"
  "git"
  "gitui"
  "gnupg"
  "helm"
  "jq"
  "mise"
  "node"
  "peco"
  "pinentry-mac"
  "rye"
  "swiftlint"
  "tre-command"
-}}

{{ $casks := list
  "1password"
  "1password-cli"
  "android-studio"
  "arc"
  "deepl"
  "finicky"
  "firefox-developer-edition"
  "google-cloud-sdk"
  "iterm2"
  "karabiner-elements"
  "mos"
  "notion"
  "notion-calendar"
  "raycast"
  "visual-studio-code"
  "wezterm"
-}}

{{ $casks = concat $casks (list
  "font-fira-code"
  "font-juisee"
  "font-moralerspace"
  "font-udev-gothic-nf"
) -}}

{{ if eq .chezmoi.username "h3y6e" -}}
# personal
{{ $casks = concat $casks (list
  "affinity-designer"
  "affinity-photo"
  "affinity-publisher"
  "amazon-photos"
  "discord"
  "dropbox"
  "google-chrome"
  "orbstack"
  "qmk-toolbox"
  "readdle-spark"
  "slack"
  "spotify"
) -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "h3y6e/dotfiles", "https://github.com/h3y6e/dotfiles"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "oven-sh/bun"
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
