[user]
	name = heyhoe
	email = h3y6e@pm.me
{{- if eq .chezmoi.os "darwin" }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINruieWJY7o2U4nvaPHJYKHPiCRmOzKBJe1TRZX3mtPB
{{- end }}
[core]
	editor = vim -c \"set fenc=utf-8\"
	ignorecase = false
	autocrlf = false
	eol = lf
	symlinks = true
	quotepath = false
	safecrlf = true
	pager = delta
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	aliases = config --get-regexp alias
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
	push-f = push --force-with-lease
	cleanup = !git branch --merged | egrep -v '\\*|master|main|dev' | xargs git branch -d
	cd = !git switch $(git config --get init.defaultBranch)
[merge]
	ff = false
	conflictStyle = zdiff3
[pull]
	ff = only
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autostash = true
	abbreviateCommands = true
	autoSquash = true
[fetch]
	prune = true
[diff "lockb"]
	textconv = bun
	binary = true
{{- if eq .chezmoi.os "darwin" }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
{{- end }}
[url "https://github.com/"]
	insteadOf = git@github.com:
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	hyperlinks = true
	side-by-side = true
[submodule]
	recurse = true
