[user]
	name = heyhoe
	email = h3y6e@pm.me
{{- if eq .chezmoi.os "darwin" }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINruieWJY7o2U4nvaPHJYKHPiCRmOzKBJe1TRZX3mtPB
{{- end }}
[core]
	editor = vim -c \"set fenc=utf-8\"
	ignorecase = false
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
	fetch-p = fetch --prune
	push-f = push --force-with-lease
	cleanup = !git branch --merged | egrep -v '\\*|master|main|dev' | xargs git branch -d
[merge]
	ff = false
[pull]
	ff = only
	rebase = true
[push]
	default = current
[rebase]
	autostash = true
[fetch]
	prune = true
[diff "lockb"]
	textconv = bun
	binary = true
{{- if eq .chezmoi.os "darwin" }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
{{- end }}
