{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "env": {
    "CLAUDE_CODE_ENABLE_TELEMETRY": "0",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "CLAUDE_CODE_AUTO_CONNECT_IDE": "0",
    "CLAUDE_CODE_IDE_SKIP_AUTO_INSTALL": "1",
    "CLAUDE_CODE_IDE_SKIP_VALID_CHECK": "1",
    "DISABLE_AUTOUPDATER": "1",
    "DISABLE_ERROR_REPORTING": "1",
    "DISABLE_TELEMETRY": "1",
    "ENABLE_CLAUDEAI_MCP_SERVERS": "0",
    "ENABLE_TOOL_SEARCH": "1"
  },
  "permissions": {
    "deny": [
      "NotebookEdit",
      "Bash(rm *)",
      "Bash(dd *)",
      "Bash(su *)",
      "Bash(sudo *)",
      "Bash(npx *)",
      "Bash(git wt ls)",
      "Bash(git wt list)"
    ],
    "defaultMode": "auto",
    "additionalDirectories": [
      "{{ .chezmoi.homeDir }}/ghq"
    ]
  },
  "model": "{{ if .personal }}fable{{ else }}sonnet{{ end }}",
  "enabledPlugins": {
    "figma@claude-plugins-official": true
  },
  "language": "Japanese",
  "sandbox": {
    "enabled": false,
    "network": {
      "allowedDomains": [
        "*"
      ],
      "allowAllUnixSockets": true,
      "allowLocalBinding": true
    },
    "filesystem": {
      "allowWrite": [
        "{{ .chezmoi.homeDir }}"
      ]
    },
    "enableWeakerNetworkIsolation": true
  },
  "alwaysThinkingEnabled": true,
  "effortLevel": "high",
  "skipWorkflowUsageWarning": true,
  "theme": "auto",
  "preferredNotifChannel": "auto",
  "switchModelsOnFlag": false,
  "skipAutoPermissionPrompt": true
}
