{
  "preferredNotifChannel": "terminal_bell",
  "permissions": {
    "allow": [
      "Bash(mkdir:*)",
      "Bash(ls:*)",
      "Bash(cat:*)",
      "Bash(find:*)",
      "Bash(grep:*)"
    ],
    "deny": ["Bash(rm:*)"]
  },
  "env": {
{{- if ne .chezmoi.username "h3y6e" }}
    "CLAUDE_CODE_USE_BEDROCK": "true"
{{- end }}
  }
}
