{
  "theme": "auto",
  "banner": "never",
  "trusted_folders": [
    "{{ .chezmoi.homeDir }}/ghq"
  ],
  "firstLaunchAt": "2026-03-11T00:00:00.000Z",
  "model": "claude-opus-4.6",
  "experimental": true,
  "last_logged_in_user": {
    "host": "https://github.com",
    "login": "h3y6e"
  }
}
