{
  "lastChangelogVersion": "{{ output "pi" "-v" | trim }}",
  "theme": "light/dark",
  "defaultProvider": "github-copilot",
  "defaultModel": "claude-sonnet-5",
  "defaultThinkingLevel": "high",
  "enableInstallTelemetry": false
}
