{
  {{- if lookPath "pi" }}
  "lastChangelogVersion": "{{ output "pi" "--version" | trim }}",
  {{- end }}
  "theme": "light/dark",
  "defaultProvider": "github-copilot",
  "defaultModel": "claude-sonnet-5",
  "defaultThinkingLevel": "high",
  "enableInstallTelemetry": false.
  "editorPaddingX": 1
}
