# vim: set ft=toml:
#:tombi schema.strict = false
#:schema https://mise.jdx.dev/schema/mise.json

[settings]
trusted_config_paths = ["{{ .chezmoi.workingTree }}", "{{ .chezmoi.homeDir }}/ghq"]

{{ if .personal -}}
[tools.cursor-agent]
version = "latest"
bin_path = "dist-package"
strip_components = "0"
url = '{{`https://downloads.cursor.com/lab/{{ version }}/{{ os(macos="darwin") }}/{{ arch(arm64="arm64", x64="x64") }}/agent-cli-package.tar.gz`}}'
version_list_url = "https://cursor.com/install"
version_regex = 'downloads\.cursor\.com/lab/([0-9]{4}\.[0-9]{2}\.[0-9]{2}-[0-9a-f]+)/'
{{- end }}
