# vim: set ft=toml:
#:tombi schema.strict = false
#:schema https://mise.jdx.dev/schema/mise.json

[settings]
trusted_config_paths = ["{{ .chezmoi.workingTree }}", "{{ .chezmoi.homeDir }}/ghq"]

{{ if and .personal (eq .chezmoi.os "darwin") -}}
[tools]
"pipx:hermes-agent" = { version = "latest", extras = "messaging" }
{{- end }}
