name: CI

on:
  push:

jobs:
  install:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Show installer help
        run: ./install.sh -h
      - name: Install dotfiles
        run: ./install.sh
      - name: Check chezmoi
        run: chezmoi data -f yaml

  remote:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - name: Remote install
        run: bash -c "$(curl -fsSL s.h3y6e.com/dotfiles)" -- -r
      - name: Check chezmoi
        shell: bash -i {0}
        run: cz managed
