name: CI

on:
  push:
  pull_request:

jobs:
  install:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install dotfiles
        run: sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply -S .
      - name: Check chezmoi
        run: ./bin/chezmoi data
