name: CI

on:
  push:

jobs:
  install:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dotfiles
        run: sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply -S .
      - name: Check chezmoi
        run: ./bin/chezmoi data
