name: CI

on:
  push:

jobs:
  install:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Show installer help
        run: ./install.sh -h
      - name: Install dotfiles
        run: ./install.sh
      - name: Check chezmoi
        shell: bash -i {0}
        run: cz data --format=yaml
